/*
!/.gitignore
/work
!/work/
/work/*
!/work/res
/work/res/*
!/work/res/
/work/res/*
!/work/res/textures
/work/res/textures/*
!/work/res/textures/
/work/res/textures/*
!/work/res/shaders
/work/res/shaders/*
!/work/res/shaders/
/work/res/shaders/*
!/work/src
/work/src/*
!/work/src/
/work/src/*